<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <br>
    <button id='btn' type="submit">See previous days</button>
    <br>
    <h2>Add data for the day</h2>
    <form action='/submission' method='GET'>
    <button type="submit">Add Info</button>
    </form>
</body>
<script>
    function submit() {
        button.addEventListener('btn', () => {
            getData();
        });
        
        async function getData(){
            console.log('Ive been clicked');
            let url = '/homepage';
            let response = await fetch(url, {
                method: 'POST'
            });
            postData('/homepage')
            .then( data => {
                console.log(response.data);
            if (response.data != null) {
                // build table
                let tr = document.createAttribute('tr');
                response.data.forEach((item) => {
                    let td = document.createAttribute('td');
                    td.value = item.name;
                    tr.appendChild(td);
                });
            let table = document.createAttribute('table');
            document.getElementsByTagName('body').appendChild(table);
        } else {
            return null;
        }
    });
    }
}
</script>
</html>