<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <link rel="stylesheet" href="./public/globalStyle.css">
</head>

<body>
    <h1>Welcome</h1>
    <br>
    <h2>Add data for the day</h2>
    <form action='/submission' method='GET'>
        <button type="submit">Add Info</button>
    </form>
    <br>
    <h2> Previous days data:</h2>
    <table id='itemTable'>
        <thead>
            <th>Title</th>
            <th>Rating</th>
            <th>Date</th>
        </thead>
    </table>
</body>
<script>
    async function getData(url = '') {
        const response = await fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer'
        });
        return response.json();
    };

    getData('https://arcane-peak-85886.herokuapp.com/homepage',)
        .then(response => {
            if (!response || !response.result) {
                console.log(response);
                console.error('response result is undefined');
                return;
            }

            console.log(response);

            let data = response.result;
            console.log(data);

            let rows = data.map(row => ({
                title: row.note_contents,
                rating: row.day_rating,
                date: new Date(row.day_date),
            }));

            let table = document.getElementById('itemTable');
            if (table != null) {
                rows.forEach(row => {
                    let tr = document.createElement('tr');
                    let td1 = document.createElement('td');
                    let td2 = document.createElement('td');
                    let td3 = document.createElement('td');

                    td1.innerHTML = row.title;
                    td2.innerHTML = row.rating;
                    td3.innerHTML = row.date;

                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);

                    table.appendChild(tr);
                });
            }
        });
</script>

</html>