<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <br>
    <form action='/homepage' method='POST'>
    <button type="submit">See previous days</button>
    </form>
    <br>
    <h2>Add data for the day</h2>
    <form action='/submission' method='GET'>
    <button type="submit">Add Info</button>
    </form>
</body>
</html>