<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <br>
    <button id='btn' type="submit" onclick='getData()'>See previous days</button>
    <br>
    <h2>Add data for the day</h2>
    <form action='/submission' method='GET'>
    <button type="submit">Add Info</button>
    </form>
    <table id='itemTable'>
        <thead>
            <th>Title</th>
            <th>Rating</th>
            <th>Date</th>
        </thead>
    </table>
</body>
<script>
    /*
    function submit() {
        button.addEventListener.('btn', () => {
            getData();
        });
        */

        async function getData(url = '') {
            const response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer'
            });
            return response.json();
        }
            getData('https://arcane-peak-85886.herokuapp.com/homepage',)
            .then( response => {
                console.log(response.data);
                let responseNew = Object.entries(response);
                let data;

                responseNew.forEach(([key, value]) => {
                    if (key == 'data') {
                        data = value;
                    }
                });

                let rows = data.map(row => {
                    // do the building in here.
                    return {
                        title: row.note_contents,
                        rating: row.day_rating,
                        date: Date(row.day_date),
                    };
                });

                let table = document.getElementById('itemTable');

                rows.forEach(row => {
                    let tr = document.createAttribute('tr');
                    let td1 = document.createAttribute('td');
                    td1.value = item.title;
                    let td2 = document.createAttribute('td');
                    td2.value = item.title;
                    let td3 = document.createAttribute('td');
                    td3.value = item.title;
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    table.appendChild(tr);
                });
    });
</script>
</html>
