<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <br>
    <button id='btn' type="submit" onclick='getData()'>See previous days</button>
    <br>
    <h2>Add data for the day</h2>
    <form action='/submission' method='GET'>
    <button type="submit">Add Info</button>
    </form>
</body>
<script>
    /*
    function submit() {
        button.addEventListener.('btn', () => {
            getData();
        });
        */
        
        async function getData(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache', 
                credentials: 'same-origin', 
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                redirect: 'follow', 
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)
            });
            return response.json();
        }
            getData('/homepage', { answer: 4 })
            .then( data => {
                console.log(data)
                /*
                console.log(response.data);
                let tr = document.createAttribute('tr');
                response.data.forEach((item) => {
                    let td = document.createAttribute('td');
                    td.value = item.name;
                    tr.appendChild(td);
                });
            let table = document.createAttribute('table');
            document.getElementsByTagName('body').appendChild(table);
            */
    });
</script>
</html>