<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h3>Please enter a username and passsword</h3>
    <br>
    <label for='username'>Username:</label>
    <input type='text' id='username'>
    <br>
    <label for='passwd'>Password:</label>
    <input type='password' id='passwd'>
    <br>
    <button onclick='signUp()'>Sign Up</button>
    <br>
    <br>
    <button onclick="window.location.href='/'">Sign up</button>
</body>
<script>
    async function signUp(url = '') {
        let name = document.getElementById('username').value;
        let pswd = document.getElementById('passwd').value;
        const data = { username: `${name}`, password: `${pswd}`};
        console.log(data);
        console.log(JSON.stringify(data));
        /*
        const response = await fetch(url, {
            method: 'POST',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        });
        return response.json();
    }
    signUp('https://arcane-peak-85886.herokuapp.com/signUp',)
        .then(res => {
            console.log('Query successful', res);
           JSON.parse(res);
           if (res.message == 'Success') {
               window.alert('Account Created');
           }
           else
            window.alert('This username is already in use');
        })
        .catch((err) => {
            console.error('Error:', err);
        });
        */
        fetch('https://arcane-peak-85886.herokuapp.com/signUp', {
            method: 'post',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({username: `${name}`, password: `${pswd}`})
        }).then(res=>res.json())
        .then(res => console.log(res));
    }

</script>
</html>