<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h3>Please enter a username and passsword</h3>
    <br>
    <form action='/signUp' method='POST'>
    <label for='username'>Username:</label>
    <input type='text' id='username'>
    <br>
    <label for='passwd'>Password:</label>
    <input type='password' id='passwd'>
    <br>
    <button type="submit">Sign Up</button>
    </form>
</body>
<script>
    async function signUp() {
        let name = document.getElementById('username').value;
        let pswd = document.getElementById('passwd').value;
        const data = { username: `${name}`, password: `${pswd}`};
        
        fetch('https://arcane-peak-85886.herokuapp.com/signUp', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(res => {
            console.log('Query successful', res);
        })
        .catch((error) => {
            console.error('Error:', err);
        });
    }
</script>
</html>