<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h3>Please enter a username and passsword</h3>
    <br>
    <label for='username'>Username:</label>
    <input type='text' id='username'>
    <br>
    <label for='passwd'>Password:</label>
    <input type='password' id='passwd'>
    <br>
    <button onclick='signUp()'>Sign Up</button>
    <br>
    <br>
    <button onclick="window.location.href='/'">Sign up</button>
</body>
<script>
    async function signUp(url = '') {
        let name = document.getElementById('username').value;
        let pswd = document.getElementById('passwd').value;
        if (name == '' || pswd == '') {
                window.alert('Please enter both a username and password');
                return;
        }
        const data = { username: `${name}`, password: `${pswd}`};
        console.log(data);
        console.log(JSON.stringify(data));

        fetch('https://arcane-peak-85886.herokuapp.com/signUp', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then((res) => res.json())
        .then((data) => {
            window.alert('Username and Password successfully submitted');
            console.log(data)})
        .catch((err) => console.log(err))
    }

</script>
</html>