<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Welcome! Please Sign in</h1>
    <label for='name'>Username:</label>
    <input type='text' id='name'>
    <br>
    <label for='passwd'>Password:</label>
    <input type='password' id='passwd'>
    <br>
    <button onclick="verify()" value='sign in'>Sign in</button>

    <br>
    <h3>No account?</h3>
    <button onclick="window.location.href='/signUp'">Sign up</button>

    <script>
        function verify() {
            // get user's username and passwd
            var name = document.getElementById("name").value;
            console.log(name);
            var passwd = document.getElementById("passwd").value;
            console.log(passwd);
            // connect to db
            // query the db for it
            // if exists, send to next page, else alert user
            
            // placeholder variable for result of sb interaction
            var matches = true;
            if (matches == true)
                window.location.href="/homepage"
        }
    </script>
</body>
</html>